{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "trigger",
      "r": "Ignore"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "trigger",
      "r": "Trigger"
    },
    {
      "a": "trigger",
      "b": "water",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "ladder",
      "r": "Ignore"
    }
  ],
  "__guid": "167cf5e4-0cbd-4ef1-8fcf-7a5950750703",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}